.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.uploadFile{
    height: 1rem;
    border-radius: 7px;
    background-color: white;
    
}
.uploadBar{
    height: 1rem;
    border-radius: 7px;
    background-color: teal;
    
}
.percent{
    color: white;
    left: 50%;
    position: absolute;
}